html, body {
    height: 100%;
    margin: 0; /* remove default body margin so 100vh matches viewport */
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    display: inline-grid;
    grid-template: 1fr / 200px 4fr;
    width: 100%;

}

.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(62, 164, 228);
    color: white;
    
    
}

.sidebaricons {
    display: grid;
    padding-top: 15px;
    padding-left: 20px;
    grid-template-columns: 50px 100px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    align-items: center;
    row-gap: 10px;
    font-weight: bold;
}

.whiteicon {
    fill: white;
}

.dashboardlogo {
    display: grid;
}

.right {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 10px;

}

/* real meat */

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 20px;
    padding-top: 30px;
    padding-left: 30px;
    
    background-color: #e2e8f0;
}

.dashboardlogo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 22px;
}

.toolbar {
    padding-left: 30px;
    padding-bottom: 18px;
}

.toolbarwelcome {
    display: flex;
    align-items: center;
    gap: 20px;

}

.lower {
    align-items: center;
}

.toolbarButtons {
    display: flex;
    gap: 20px;
    padding-right: 100px;

}

.toolbarButtons > * {
    background-color: rgb(62, 164, 228);
    color: white;
    border-top: rgb(62, 164, 228);
    border-bottom: rgb(62, 164, 228);
    border-left: rgb(62, 164, 228);
    border-right: rgb(62, 164, 228);
    border-radius: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#greeting {
    font-size: 12px;
}

#name {
    font-weight: bold;
}

#bigpfp {
    height: 64px;
    width: 64px;
}

.pfp {
    width: 48px;
    height: 48px;
    border-radius: 32px;
}

.profileright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    padding-right: 100px;
    
}

#input {
    border-radius: 20px;
    height: 28px;
    border-color: #ffffff;
    border-top: #ffffff;
    border-left: #ffffff;
    background-color: #e2e8f0;
    padding-right: 100px;
}

.lower {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 8px 175px 175px 175px;
    row-gap: 20px;
    column-gap: 20px;
}

.projectsquare, .announcementsquare, .trendingsquare  {
    border-width: 6px;
    border-bottom: #ffffff;
    border-top: #ffffff;
    border-right: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    
}

.trendingsquare {
    display: flex;
    gap: 8px;
    flex-direction: column;
    border-left-color: #ffffff;
    font-size: 12px;
    padding-left: 18px;
    padding-top: 20px;
}

.trendprofile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.projectsquare {
    border-left-color: gold;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    position: relative;


}

.projectlabel {
    grid-column: 1 / span 2;
    background-color: #e2e8f0;
    font-weight: bold;
}

.projecticons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    left: -20px;
    height: 145px;
    width: 290px;
    gap: 20px;
    
}

.projectsquare > * {
    font-size: 12px;
}

.dashboardRight {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 8px 375px 8px 250px;
    row-gap: 20px;
}

.announcementsquare{
    background-color: #ffffff;
    font-size: 10.5px;
    border-left-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.announcementlabel {
    font-weight: bold;
}

.trendinglabel {
    font-weight: bold;
}